* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.3s linear;
}
:root {
  --pink: #e84393;
  --black: #222;
  --white: #fff;
  --light-color: #777;
  --light-bg: #f5f5f5;
  --border: 0.2rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}
section {
  padding: 5rem 9%;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  border: var(--border);
  background-color: var(--white);
  padding: 1rem 3rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: var(--black);
}
.btn:hover {
  color: var(--white);
  background-color: var(--pink);
}
.controls {
  position: absolute;
  bottom: 12%;
  right: -7rem;
}
.controls div {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 3rem;
  background-color: var(--white);
  color: var(--black);
  text-align: center;
  margin: 0 1rem;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.controls div:hover {
  color: var(--white);
  background-color: var(--pink);
  transform: scale(1.1);
}
.heading {
  text-align: center;
  margin-bottom: 4rem;
}
.heading h1 {
  font-size: 3.5rem;
  color: var(--black);
}
.heading p {
  margin: 1rem auto;
  font-size: 1.5rem;
  color: var(--light-color);
  max-width: 50rem;
  line-height: 2;
}
@keyframes fadeUp {
  0% {
    transform: translateY(4rem);
    opacity: 0;
  }
}
.header {
  padding: 2rem 9%;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  position: sticky;
  z-index: 1000;
}
.header .logo img {
  height: 4rem;
}
.header .search-form {
  height: 5rem;
  width: 50rem;
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}
.header .search-form input {
  width: 100%;
  background: none;
  font-size: 1.6rem;
  color: var(--light-color);
}
.header .search-form label {
  font-size: 2rem;
  margin-left: 0.7rem;
  color: var(--black);
  cursor: pointer;
}
.header .search-form label:hover {
  color: var(--pink);
}
.header .icons a,
.header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  background-color: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  font-size: 1.8rem;
  margin-left: 0.3rem;
  border-radius: 0.5rem;
}
.header .icons a:hover,
.header .icons div:hover {
  background-color: var(--pink);
  color: var(--white);
}
.header .icons #search-btn {
  display: none;
}
.navbar {
  position: fixed;
  top: 0;
  left: -120%;
  z-index: 1010;
  height: 100%;
  width: 100%;
  background: url(../images/navbar-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-flow: column;
  align-items: flex-end;
  padding-right: 15%;
}
.navbar.active {
  left: 0;
}
.navbar #close-navbar {
  position: absolute;
  top: 3rem;
  right: 3rem;
  font-size: 3rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
}
.navbar #close-navbar:hover {
  color: var(--white);
  background-color: var(--pink);
}
.navbar a {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--white);
  font-weight: lighter;
}
.navbar a:hover {
  color: var(--pink);
  letter-spacing: 0.2rem;
}
.home {
  padding: 0;
}
.home .slide {
  display: none;
  height: calc(100vh - 8rem);
}
.home .slide.active {
  display: flex;
}
.home .content {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 2rem 7%;
  align-items: flex-start;
  background-color: #fce9f2;
  position: relative;
}
.home .content img {
  height: 25rem;
  width: 25rem;
  margin-bottom: 2rem;
  animation: fadeUp 0.2s linear backwards 0.2s;
  display: none;
}
.home .content span {
  color: var(--pink);
  display: block;
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  animation: fadeUp 0.2s linear backwards 0.4s;
}
.home .content h3 {
  font-size: 5.5rem;
  text-transform: uppercase;
  color: var(--black);
  animation: fadeUp 0.2s linear backwards 0.6s;
}
.home .content .btn {
  animation: fadeUp 0.2s linear backwards 0.8s;
}
.home .image {
  width: 50%;
  height: 100%;
}
.home .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.category {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}
.category .box {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  text-align: center;
}
.category .box:hover {
  background-color: var(--black);
}
.category .box img {
  height: 10rem;
  margin-bottom: 1rem;
}
.category .box:hover img {
  filter: invert(1);
}
.category .box p {
  font-size: 1.7rem;
  color: var(--black);
}
.category .box:hover p {
  color: var(--white);
}
.about {
  background: url(../images/about-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
.about .content {
  width: 55rem;
  background-color: var(--white);
  padding: 3rem;
}
.about .content span {
  color: var(--pink);
  font-size: 2rem;
}
.about .content h3 {
  padding: 1rem;
  font-size: 3rem;
  color: var(--black);
}
.about .content p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
  padding: 1rem 0;
}

.shop .slide {
  width: 35rem;
  border: var(--border);
  background-color: var(--white);
}
.shop .slide .image {
  height: 35rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.shop .slide .image .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: var(--white);
  background-color: var(--pink);
  z-index: 10;
}
.shop .slide .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.shop .slide .image:hover img {
  transform: scale(1.1);
}
.shop .slide .image .icons {
  position: absolute;
  bottom: 0;
  right: -8rem;
  text-align: center;
}
.shop .slide .image:hover .icons {
  right: 1rem;
}
.shop .slide .image a {
  height: 5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  background-color: var(--white);
  color: var(--black);
  border: var(--border);
  box-shadow: var(--box-shadow);
  display: block;
  text-align: center;
}
.shop .slide .image a:hover {
  background-color: var(--pink);
  color: var(--white);
}
.shop .slide .content {
  padding: 2rem;
  border-top: var(--border);
}
.shop .slide .content .stars {
  padding-bottom: 0.5rem;
}
.shop .slide .content .stars i {
  font-size: 1.5rem;
  color: var(--pink);
}
.shop .slide .content p {
  font-size: 2rem;
  color: var(--black);
  line-height: 2;
}
.shop .slide .content .price {
  font-size: 2rem;
  color: var(--pink);
}
.shop .slide .content .price span {
  font-size: 1.5rem;
  color: var(--light-color);
  text-decoration: line-through;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
  color: var(--black);
}
.gallery {
  background-color: var(--light-bg);
}
.gallery .lightBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 2rem;
}
.gallery .lightBox a {
  height: 30rem;
  overflow: hidden;
  border: 1rem solid var(--white);
  box-shadow: var(--box-shadow);
}
.gallery .lightBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .lightBox a:hover img {
  transform: scale(1.1);
}
.team {
  background: linear-gradient(var(--light-bg) 50%, var(--white) 50.1%);
}
.team .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 2rem;
}
.team .box-container .box {
  border: var(--border);
  text-align: center;
}
.team .box-container .box .image {
  height: 50rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.team .box-container .box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team .box-container .box:hover .image img {
  transform: scale(1.1);
}
.team .box-container .box .image .share {
  position: absolute;
  top: 0;
  left: -8rem;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 1rem;
  background-color: var(--black);
  gap: 1rem;
}
.team .box-container .box:hover .image .share {
  left: 0;
}
.team .box-container .box .image .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border: 0.2rem solid var(--white);
  font-size: 2.5rem;
  color: var(--white);
}
.team .box-container .box .image .share a:hover {
  background-color: var(--white);
  color: var(--black);
}
.team .box-container .box .content {
  border-top: var(--border);
  padding: 1.5rem;
}
.team .box-container .box .content h3 {
  font-size: 2rem;
  color: var(--black);
}
.team .box-container .box .content p {
  font-size: 1.5rem;
  color: var(--pink);
}
.arrivals .slide {
  text-align: center;
  background-color: var(--white);
}
.arrivals .slide .image {
  height: 30rem;
  width: 100%;
  overflow: hidden;
}
.arrivals .slide .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.arrivals .slide:hover .image img {
  transform: scale(1.1);
}
.arrivals .slide .content {
  padding-top: 0.5rem;
}
.arrivals .slide .content p {
  font-size: 2rem;
  color: var(--black);
  line-height: 2;
  padding: 0.5rem 0;
}
.arrivals .slide .content .price {
  font-size: 2rem;
  color: var(--pink);
}
.arrivals .slide .content .price span {
  color: var(--light-color);
  font-size: 1.5rem;
  text-decoration: line-through;
}
.review .slide {
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  position: relative;
  margin-bottom: 1rem;
}
.review .slide .user {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.review .slide .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}
.review .slide .user h3 {
  color: var(--black);
  font-size: 2rem;
}
.review .slide .user i {
  font-size: 1.7rem;
  color: var(--pink);
}
.review .slide p {
  font-size: 1.5rem;
  line-height: 1.7;
  color: var(--light-color);
  background-color: var(--light-bg);
  padding: 2rem;
  border-radius: .5rem;
  position: relative;
  margin-top: 2rem;
}
.service {
    background-color: var(--light-bg);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 2rem;
}
.service .box {
    border: var(--border);
    padding: 2rem;
    text-align: center;
    background-color: var(--white);
}
.service .box:hover {
    background-color: var(--black);
}
.service .box img {
    height: 8rem;
    margin-bottom: .5rem;
}
.service .box:hover img {
    filter: invert(1);
}
.service .box h3 {
    padding: .7rem 0;
    font-size: 2rem;
    color: var(--black);
}
.service .box:hover h3 {
    color: var(--white);
} 
.service .box p {
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 2;
}
.service .box:hover p {
    color: var(--white);
}
.blogs .slide  .image {
    height: 30rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.blogs .slide  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blogs .slide  .image:hover img {
    transform: scale(1.1);
}
.blogs .slide  .image .icons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border: var(--border);
    background-color: var(--white);
    transform: translateY(10rem);
}
.blogs .slide  .image:hover .icons {
    transform: translateY(0);
}
.blogs .slide  .image .icons a {
    font-size: 1.5rem;
    color: var(--black);
}
.blogs .slide  .image .icons a:hover {
    color: var(--pink);
}
.blogs .slide  .image .icons i {
    color: var(--pink);
    padding-right: .5rem;
}
.blogs .slide .content {
    text-align: center;
    padding: 1.5rem;
}
.blogs .slide .content h3 {
    font-size: 2rem;
    color: var(--black);
}
.blogs .slide .content p {
    font-size: 1.5rem;
    padding: 1rem;
    line-height: 2;
    color: var(--light-color);
}
.footer {
    background-color: var(--light-bg);
}
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}
.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}
.footer .box-container .box .link {
    padding: 1rem 0;
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
}
.footer .box-container .box .link i {
    padding-right: .5rem;
    color: var(--pink);
}
.footer .box-container .box .link:hover {
    color: var(--pink);
}
.footer .box-container .box .link:hover i {
    padding-right: 2rem;
}
.footer .box-container .box p {
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}
.footer .box-container .box p i {
    padding-right: .5rem;
    color: var(--pink);
}
.footer .box-container .share {
    margin-top: 2rem;
}
.footer .box-container .share a {
    width: 5rem;
    height: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    background-color: var(--white);
    border: var(--border);
    color: var(--black);
    text-align: center;
    margin-right: .3rem;
}
.footer .box-container .share a:hover {
    color: var(--white);
    background-color: var(--pink);
}
.footer .box-container .box form .email {
    width: 100%;
    border: var(--border);
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    color: var(--light-color);
    margin: 1rem 0;
}
.created {
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
    padding: 3rem 1rem 1rem;
    border-top: var(--border);
    color: var(--light-color);
}
.created span {
    color: var(--pink);
}






















@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
  .home .slide .content {
    padding: 2rem;
  }
  .home .slide .content span {
    font-size: 2rem;
  }
  .home .slide .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .header .icons #search-btn {
    display: inline-block;
  }
  .header .search-form {
    position: absolute;
    top: 99%;
    left: 0;
    border-top: var(--border);
    border-bottom: var(--border);
    width: 100%;
    background-color: var(--white);
    height: 6rem;
    display: none;
    animation: fadeUp 0.2s linear backwards;
  }
  .header .search-form.active {
    display: flex;
  }
  .home .slide {
    position: relative;
    height: calc(100vh - 6rem);
  }
  .home .slide .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .home .slide .content img {
    display: inline-block;
  }
  .home .slide .controls {
    position: static;
    margin-top: 7rem;
  }
  .home .slide .controls div {
    margin: 0 0.5rem;
  }
  .home .slide .image {
    width: 100%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
